<%= render layout:"shared/page" do %>
  <div>
    <h2> <%= @studio_class.name %></h1>
    <h4> <%= @studio_class.instructor.name %></h1>
    <p> <%= @studio_class.description %></p>
    Cost: <%= @studio_class.points %> points
  </div>

  
    <br />
    <% if current_studio == @studio %>
      <%= link_to "Edit Class",  edit_studio_class_path(@studio, @studio_class), class:"tiny radius button" %>
    <% end %>
    <hr >

    <h3>Schedule</h3>

    <%= render "class_schedule" %>

    <% if current_studio == @studio %>
      <%= link_to "Add Time",  new_studio_class_timeslot_path( @studio_class), class:"tiny radius button" %>
    <% end %>

<% end %>
