<%= render layout:"shared/page" do %>
  <div>
    <h1> <%= @studio_class.name %></h1>
    <p> <%= @studio_class.description %></p>
    Cost: <%= @studio_class.points %> points
  </div>

  
    <br />
    <% if current_studio == @studio %>
      <%= link_to "Edit Class",  edit_studio_class_path(@studio, @studio_class), class:"tiny radius button" %>
    <% end %>
    <hr >

    <h3>Schedule</h3>
    <% @studio_class.timeslots.each do |ts| %>
      <ul class="no-bullet">
        <li><strong>Start: <%= ts.start_time.to_s(:time) %></strong></li>
        <li>Duration: <%= ts.duration %> minutes</li>
        <li>Days of the week: <%= ts.enum_days %></li>
        <% if current_studio == @studio %>
            <li><%= link_to "Edit", edit_studio_class_timeslot_path(@studio, @studio_class, ts) %>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.timeslots.include?(ts) %>
            <strong> Class booked</strong>
          <% else %>
            <%= link_to "Book this class", book_class_path(ts), method: :post %>
          <% end %>
        <% end %>
      </ul>
      <br />
    <% end %>
    <% if current_studio == @studio %>
      <%= link_to "Add Time",  new_studio_class_timeslot_path(@studio, @studio_class), class:"tiny radius button" %>
    <% end %>

<% end %>
