<%= render layout:"shared/panel" do %>
  <% @target = request.fullpath.split("/")[1].capitalize %>
  <h2><%= @target %> sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.text_field :name, autofocus: true %>
    <%= f.email_field :email %>
    <% if @target == "Studios" %>
      <%= f.text_field :studio_name, autofocus: true %>
    <% end %>
    <% if @target == "Trainers" %>
      <%= f.radio_button(:sex, "male") %>
      <%= f.radio_button(:sex, "female") %>
    <% end %>

    <%= f.password_field :password, autocomplete: "off", placeholder: ( @minimum_password_length ? "#{@minimum_password_length} characters minimum" : "" ) %>

    <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>
