<%= render layout:"shared/panel" do %>
  <h2><%= request.fullpath.split("/")[1].capitalize %> sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.text_field :name, autofocus: true %>
    <%= f.email_field :email %>
    <%= f.text_field :zipcode, placeholder:"To help us find trainers near you" %>

    <%= f.password_field :password, autocomplete: "off", placeholder: ( @minimum_password_length ? "#{@minimum_password_length} characters minimum" : "" ) %>

    <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>
