<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">FitAura</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <% if user_signed_in? %>
      <ul class="right">
        <li> <%= link_to "#{current_user.points} points", user_account_path %> </li>

        <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        </li>
      </ul>
    <% elsif studio_signed_in? %>
      <ul class="right">
        <li> <%= link_to "Studio Profile", studio_path(current_studio) %></li>
        <li><%= link_to('Logout', destroy_studio_session_path, :method => :delete) %>        </li>
      </ul>
      <ul class="left">
        <li>  <%= link_to "Schedule", studio_classes_path(current_studio)  %></li>
        <li>  <%= link_to "Client history", studio_clients_path(current_studio)  %></li>
      </ul>
    <% elsif trainer_signed_in? %>
      <ul class="right">
        <li> <%= link_to "Trainer Profile", trainer_path(current_trainer) %></li>
        <li> <%= link_to('Logout', destroy_trainer_session_path, :method => :delete) %>        </li>
      </ul>
    <% else %>
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Login</a>
          <ul class="dropdown">
            <li> <%= link_to('User Login', new_user_session_path)  %>  </li>
            <li> <%= link_to('Studio Login', new_studio_session_path)  %>  </li>
            <li> <%= link_to('Trainer Login', new_trainer_session_path)  %>  </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </section>
</nav>
