<div class="background-holder">
  <div class="row">
    <div class="small-12 medium-12 columns">
      <ul class="landing-page-header">
        <li><%= link_to "For Clients", "#", class:"active" %></li>
        <li><%= link_to "For Studios", "#" %></li>
        <li><%= link_to "For Trainers", "#" %></li>
      </ul>
    </div>
  </div>
  <h1>FitAura</h1>
  <h3>An innovative new platform which allows you to find the best fitness instructors or studios in your areas</h3>
 <%= link_to "SIGN UP TODAY", new_user_registration_path, class:"signup button" %>

</div>
<div class="row landing-page-text">
  <div class="small-12 medium-6 columns">
    <p>
        Discover workout that's right for you. We provide you with access to a variety of studios and trainers with no strings attached. Find and keep the ones you like or add variety to your normal routine.
    </p>
    <p>
         Fitness just got a whole lot easier. Our web and mobile apps will change the way you work out. 
    </p>
    <br /><br />
    <p>
          Ready for your next challenge?
    </p>
   <%= link_to "SIGN UP TODAY", new_user_registration_path, class:"signup primary button" %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= image_tag "background.jpg" %>
  </div>
</div>
<div class="row landing-page-text">
  <div class="small-12 medium-6 columns">
    <%= link_to "#" do %>
      <%= image_tag "background.jpg" %>
      <h4>For Trainers</h4>
    <% end %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= link_to "#" do %>
      <%= image_tag "background.jpg" %>
      <h4>For Studios</h4>
    <% end %>
  </div>
</div>
<br /><br />
