<div class="clients background-holder">
  <div class="row">
    <div class="small-12 medium-12 columns">
      <ul class="landing-page-header">
        <li><%= link_to "For Clients", "#", class:"active" %></li>
        <li><%= link_to "For Studios", studios_path %></li>
        <li><%= link_to "For Trainers", trainers_path %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 columns">
      <h1>FitAura</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>An innovative platform which allows you to find the best fitness instructors or studios in your areas</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 columns">
      <%= link_to "SIGN UP TODAY", new_user_registration_path, class:"signup button" %>
    </div>
  </div>

</div>
<div class="row landing-page-text">
  <div class="small-12 medium-12 columns">
    <h3>Near you</h3>
    <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    
  </div>
</div>
<br /><br />

<div class="row landing-page-text">
  <div class="small-12 medium-6 columns">
    <p>
        Discover workout that's right for you. We provide you with access to a variety of studios and trainers with no strings attached. Find and keep the ones you like or add variety to your normal routine.
    </p>
    <p>
         Fitness just got a whole lot easier. Our web and mobile apps will change the way you work out. 
    </p>
    <br /><br />
    <p>
          Ready for your next challenge?
    </p>
   <%= link_to "SIGN UP TODAY", new_user_registration_path, class:"signup primary button" %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= image_tag "background.jpg" %>
  </div>
</div>
<div class="row landing-page-text">
  <div class="small-12 medium-6 columns">
    <%= link_to studios_path do %>
      <%= image_tag "bg-crossfit.jpg" %>
      <h5>For Studios</h5>
    <% end %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= link_to trainers_path do %>
      <%= image_tag "bg-sideview.jpg" %>
      <h4>For Trainers</h4>
    <% end %>
  </div>
</div>
<br /><br />
