<%= render layout:"shared/panel" do %>
  <h1><%= @studio.studio_name %></h1>

  <ul class="no-bullet">
    <% if @schedule.upcoming? %>
      <%= render "class_schedule" %>
    <% else %>
      No upcoming classes
    <% end %>
  </ul>

  <% if current_studio == @studio %>
    <hr>
    <h2>Manage classes</h2>
    <ul class="no-bullet">
      <%= render @studio_classes %>
    </ul>
    <%= link_to "Add Class", new_studio_class_path, class:"tiny radius button" %>
  <% else %>
  <% end %>
<% end %>
