<%= render layout:"shared/panel" do %>
  <h1><%= @studio.studio_name %></h1>

  <% if current_studio == @studio %>
    <ul class="no-bullet">
      <%= render @studio_classes %>
    </ul>
    <%= link_to "Add Class", new_studio_class_path, class:"tiny radius button" %>
  <% else %>
    <ul class="no-bullet">
      <% if @schedule.upcoming? %>
        <% @schedule.slots.each do |slots_for_day| %>
          <h4><%= slots_for_day[:day].to_date.strftime("%A %b %d") %></h4>
          <% slots_for_day[:timeslots].each do |slot| %>
            <h6><%= slot.start_time.strftime("%l:%M %p") %> <%= slot.studio_class.name %></h6>
          <% end %>
        <% end %>
      <% else %>
        No upcoming classes
      <% end %>
    </ul>
  <% end %>
<% end %>
