<%= render layout:"shared/page" do %>
  <div>
    <h1> <%= @trainer_class.name %></h1>
    <p> <%= @trainer_class.description %></p>
    <p>
      Hosted at: <%= @trainer_class.location.title %>
    </p>
    Cost: <%= @trainer_class.points %> points
  </div>

  
    <br />
    <% if current_trainer == @trainer %>
      <%= link_to "Edit Class",  edit_trainer_class_path(@trainer, @trainer_class), class:"tiny radius button" %>
    <% end %>
    <hr >

    <h3>Schedule</h3>
    <% if current_trainer == @trainer %>
      <%= render @timeslots %>
      <%= link_to "Add Time",  new_trainer_class_timeslot_path( @trainer_class), class:"tiny radius button" %>
      <hr>
    <% end %>
    <%= render "class_schedule" %>

<% end %>
