<%= render layout:"shared/panel" do %>
  <h1><%= @studio.name %> </h1>
  <%= form_for @studio, html: { multipart: true } do |f| %>
    <%= f.text_field :address1 %>
    <%= f.text_field :address2 %>
    <%= f.text_field :phone %>

      <%= form.file_field :logo %>

    <%= f.submit %>

  <% end %>
    <%= link_to "Back", studio_path(current_studio) %>
<% end %>
