<%= render layout:"shared/page" do %>
  <h1><%= @trainer.name %> </h1>
  <%= form_for @trainer, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="large-3 small-12 columns">
      <%= image_tag @trainer.photo.url(:medium) %><br />
      <%= f.file_field :photo %>
    </div>
    <div class="large-9 small-12 columns">
      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <%= f.text_area :about, rows: 20 %>
      <%= f.text_field :phone %>
    </div>
  </div>


    <%= f.submit "Save Profile" %>

  <% end %>
    <%= link_to "Back", trainer_path(current_trainer) %>
<% end %>
