<%= render layout:"shared/page" do %>
  <h1><%= @trainer.name %> </h1>
  <%= image_tag @trainer.photo.url(:medium) %><br />
  <%= simple_format @trainer.about %>
  <%= @trainer.phone %>

    <hr>


    <% if @trainer == current_trainer %>
      &nbsp;&nbsp;
      <%= link_to "Edit Profile", edit_trainer_path(current_trainer) %>
    <% end %>
<% end %>
