<%= render layout:"shared/page" do %>
  <h1><%= @trainer.name %> </h1>
  <h2>Profile</h2>
  <div class="row">
    <div class="large-3 small-12 columns">
      <%= image_tag @trainer.photo.url(:medium) %><br />
      <% if @trainer == current_trainer %>
        &nbsp;&nbsp;
        <%= link_to "Edit Profile", edit_trainer_path(current_trainer) %>
      <% end %>
    </div>
    <div class="large-9 small-12 columns">
      <%= simple_format @trainer.about %>
      <ul class="no-bullet">
        <% @trainer.training_formats.each do |tf| %>
          <li><%= tf.name %></li>
        <% end %>
        <% unless @trainer.specialty.empty? %>
          <li>Speciality: <%= @trainer.specialty %></li>
        <% end %>
      </ul>
      Years of experience: <%= @trainer.years_of_experience %><br />
      <h5>Certificates </h5>
      <ul class="no-bullet">
        <% @trainer.certificates.each do |c| %>
          <%= c.title %>
        <% end %>
        <% if @trainer == current_trainer %>
          &nbsp;&nbsp;
          <li> <%= link_to "Add Certificate", new_trainer_certificate_path(current_trainer) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @trainer.testimonials.any? %>
    <h2>Testimonials</h2>
  <% end %>

<% end %>
