<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FitAura" %></title>

    <link href='https://fonts.googleapis.com/css?family=Arimo:700|Roboto|Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= render "shared/amp_tag" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% unless controller_name == "home" ||
     controller_name == "studios" && action_name == "index" ||
     controller_name == "trainers" && action_name == "index" %>
       <%= render "shared/header" %>
       <%= render "shared/flash_messages" %>
    <% end %>

    <%= yield %>

    <% if flash[:event] %>
      <script>
        amplitude.logEvent("<%= flash[:event] %>");
      </script>
    <% end %>

  </body>
</html>
